<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong><a href="https://send.yidiankuaile.com">Send</a></strong> created by
      <a href="https://github.com/ryanlid">Ryanlid</a>.
    </p>
  </div>
</footer>
<script src="/js/script.js"></script>
